/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #010101;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    color: #45f3ff;
    background: #18181b;
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    padding-left: 120px;
    letter-spacing: 10px;
}

header span {
    display: flex;
    align-items: center;
}

.sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    width: 260px;
    height: 100vh;
    background: #1f1f23;
}

/* 選單 標頭 */
.sidebar .logo-details {
    height: 60px;
    width: 100%;
    color: #45f3ff;
    display: flex;
    align-items: center;
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}

.sidebar .logo-details .logo-img {
    height: 60px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .logo-details img {
    height: 40px;
}

.sidebar .logo-details span {
    min-width: 130px;
    font-size: 22px;
    font-weight: 600;
}

.sidebar .logo-details i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #efeff1;
    border-radius: 50%;
    border: none;
}

.sidebar .logo-details i:hover {
    color: #45f3ff;
    background: #18181b;
    cursor: pointer;
    border: 3px solid #45f3ff;
}

/* 全部選單 */
.sidebar .nav-links {
    height: calc(100vh - 111px);
    overflow: auto;
}

/* 隱藏滾輪的圖樣，因為太醜了 */
.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 80px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #efeff1;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    color: #efeff1;
    text-decoration: none;
}

.sidebar .nav-links li span {
    width: 100px;
}

/* 主選單 */
.sidebar .icon-link {
    font-size: 20px;
    font-weight: 600;
}

.sidebar .icon-link:hover {
    border-left: 3px solid #45f3ff;
}

.sidebar .icon-link:hover a,
.sidebar .icon-link:hover i {
    color: #45f3ff;
    background: #23242a;
}

/* 子選單 */
.sidebar .sub-menu {
    font-size: 16px;
}

.sidebar .openMenu {
    display: block;
}

.sidebar .openMenu.ok {
    display: none;
}

.sidebar .sub-menu li {
    border-bottom: none;
}

.sidebar .sub-menu li:hover {
    border-left: 3px solid #45f3ff;
}

.sidebar .sub-menu li:hover a,
.sidebar .sub-menu li:hover i {
    color: #45f3ff;
    background: #23242a;
}

.sidebar .sub-menu li span {
    position: relative;
    padding-left: 20px;
}

.sidebar .footer {
    position: absolute;
    bottom: 50px;
    height: 52px;
    width: 260px;
    background: #18181b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .footer .footer-content {
    width: 80px;
    color: #efeff1;
    font-size: 18px;
    font-weight: 600;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .footer .footer-content:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    color: #45f3ff;
    background: #23242a;
    border: 3px solid #45f3ff;
    border-radius: 8px;
    cursor: pointer;
}

.content {
    width: 100%;
    height: 100%;
}

.content .content-title {
    display: none;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 260px;
    top: 50px;
    width: calc(100% - 260px);
    height: 60px;
    padding: 20px 0 6px 30px;
    color: #efeff1;
    border-bottom: 3px solid #45f3ff;
    background: #010101;
}

.content .content-title.active {
    display: flex;
}

.content .content-title .content-text {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 10px;
}

.content-title .content-category {
    display: flex;
}

.content-title select {
    outline: none;
    width: 50px;
    height: 30px;
    background: #45f3ff;
    border: 1px solid #18181b;
    border-radius: 15px;
    margin-right: 10px;
    transition: 0.5s;
    text-align: center;
}

.content-title select:hover {
    width: 100px;
}

.content-title select option {
    display: flex;
    justify-content: flex-start;
    background: #45f3ff;
}

.content .content-title .category-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.content .content-title .category-box span {
    font-size: 16px;
}

.content .content-title .category-box input[type="text"] {
    width: 70px;
    height: 30px;
    font-size: 10px;
    font-weight: 500;
    color: #8f8f8f;
    background: #45f3ff;
    border: 1px solid #18181b;
    border-radius: 16px;
    padding-left: 12px;
    outline: medium;
    transition: 0.5s;
}

.content .content-title .category-box input[type="text"]:hover {
    font-size: 14px;
    font-weight: 900;
    width: 120px;
    color: #010101;
    background: #efeff1;
    border: 1px solid #45f3ff;
}

.content-title .category-search {
    display: flex;
    width: 100px;
    height: 30px;
    flex-wrap: wrap;
}

.content-title .category-search ul {
    width: 80%;
    list-style: none;
}

.content-title input[type="submit"] {
    width: 50px;
    height: 22px;
    color: #45f3ff;
    background: #010101;
    border: 2px solid #45f3ff;
    border-radius: 8px;
    margin-left: 5px;
    outline: medium;
}

.content-title input[type="submit"]:hover {
    color: #010101;
    background: #45f3ff;
    font-weight: 600;
}

.content-title1 {
    display: none;
    align-items: center;
    left: 260px;
    top: 50px;
    width: 100%;
    height: 60px;
    padding: 25px 200px;
    color: #efeff1;
    border-bottom: 3px solid #45f3ff;
    font-size: 22px;
}

.content-title1.active {
    display: block;
}

.content-text1 .content-text {
    font-weight: 600;
    letter-spacing: 10px;
}

.right-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100% - 260px);
    height: 100%;
    padding: 20px 0 6px 0;
    color: #efeff1;
    margin-top: 90px;
    margin-left: 260px;
}

.content-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.shop-car-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 22px;
    font-weight: 600;
}

.content-table-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content-table-box table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.shop-car-box tr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-car-box tr th {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

thead {
    position: fixed;
    top: 108px;
}

thead tr {
    height: 50px;
    background: #18181b;
    border: 3px solid #45f3ff;
    border-radius: 0 0 8px 8px;
}

#th-img {
    display: flex;
    border-right: 1px solid #45f3ff;
    width: 100px;
    height: 50px;
}

#th-name {
    display: flex;
    border-right: 1px solid #45f3ff;
    width: 150px;
    height: 50px;
}

#th-price {
    display: flex;
    border-right: 1px solid #45f3ff;
    width: 80px;
    height: 50px;
}

#th-stock {
    display: flex;
    border-right: 1px solid #45f3ff;
    width: 80px;
    height: 50px;
}

#th-buy-count {
    display: flex;
    border-right: 1px solid #45f3ff;
    width: 80px;
    height: 50px;
}

#th-total {
    display: flex;
    border-right: 1px solid #45f3ff;
    width: 120px;
    height: 50px;
}

#th-update {
    display: flex;
    border-right: 1px solid #45f3ff;
    width: 250px;
    height: 50px;
}

#th-delete {
    display: flex;
    width: 80px;
    height: 50px;
}

tbody {
    display: block;
    margin-top: 55px;
    margin-bottom: 105px;
}

tbody tr {
    margin-top: 15px;
    border: 3px solid #45f3ff;
    border-radius: 8px;
    background: #23242a;
}

.sc-body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.check-box input {
    width: 20px;
    height: 20px;
}

#td-img {
    display: flex;
    border-right: 1px solid #45f3ff;
    width: 100px;
    height: 90px;
}

#td-name {
    display: flex;
    border-right: 1px solid #45f3ff;
    width: 150px;
    height: 90px;
}

#td-price {
    display: flex;
    border-right: 1px solid #45f3ff;
    width: 80px;
    height: 90px;
}

#td-stock {
    display: flex;
    border-right: 1px solid #45f3ff;
    width: 80px;
    height: 90px;
}

#td-buy-count {
    display: flex;
    border-right: 1px solid #45f3ff;
    width: 80px;
    height: 90px;
}

#td-total {
    display: flex;
    border-right: 1px solid #45f3ff;
    width: 120px;
    height: 90px;
}

#td-update {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #45f3ff;
    width: 250px;
    height: 90px;
}

#td-update .td-update-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 90%;
}

.td-update-box a {
    color: #363639;
    text-decoration: none;
}

#td-update input {
    display: flex;
    text-align: center;
    width: 100px;
    height: 30px;
    font-size: 18px;
    font-weight: 600;
    color: #363639;
    background: #45f3ff;
    border: 2px solid #1f1f23;
    border-radius: 8px;
    outline: none;
    transition: 0.5s;
}

#td-update input:hover {
    font-size: 20px;
    font-weight: 900;
    background: #efeff1;
    border: 2px solid #45f3ff;
}

#td-update i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 3px solid #363639;
    border-radius: 50%;
    transition: 0.5s;
}

#td-update i:hover {
    color: #45f3ff;
    border: 3px solid #45f3ff;
}

#td-delete {
    display: flex;
    width: 80px;
    height: 90px;
}

#td-delete i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 3px solid #363639;
    border-radius: 50%;
    transition: 0.5s;
}

#td-delete i:hover {
    color: #45f3ff;
    border: 3px solid #45f3ff;
}

.sc-body img {
    width: 90px;
    height: 90px;
}

.content-table-footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: calc(100% - 260px);
    height: 105px;
    background: #23242a;
    border-top: 3px solid #45f3ff;
}

.total-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.total-box input[type="text"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: #363639;
    background: #45f3ff;
    border: 1px solid #010101;
    border-radius: 8px;
    outline: none;
    padding-left: 10px;
    margin-left: 10px;
}

.total-box input[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
    background: #363639;
    border: 1px solid #23242a;
    border-radius: 8px;
    margin-left: 10px;
}

.total-box input[type="submit"]:hover {
    color: #010101;
    background: #45f3ff;
    border: 3px solid #45f3ff;
}
