<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS 連結 -->
    <link rel="stylesheet" href="/css/bag.css">

    <!-- JQuery 連結 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Boxicon CDN link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- FontAwesome 連結 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <!-- DataTable 連結 -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css"/>

    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>


    <title>背包</title>
</head>

<body>

<header>
    <span>夏天的風</span>
</header>

<!-- 左側欄 -->
<div class="sidebar">

    <!-- 左側欄 標頭 -->
    <div class="logo-details">
        <div class="logo-img">
            <img src="/images/0025-皮卡丘.png" alt="logo">
        </div>
        <span class="logo_name" th:text="${session.showUserName.userName}"></span> <i class="fa-solid fa-bars"></i>
    </div>

    <!-- 主選單 -->
    <ul class="nav-links">

        <!-- 首頁 -->
        <li>
            <div class="icon-link">
                <a href="/users/home"> <i class='bx bx-home'></i> <span class="link_name">首頁</span>
                </a>
            </div>
        </li>

        <!-- 個人資料 -->
        <li>
            <div class="icon-link active open">
                <a href="/users/user"> <i class='bx bx-user'></i> <span class="link_name">個人資料</span>
                    <i class="fa-solid fa-caret-down"></i>
                </a>
            </div> <!-- 子選單 -->
            <div class="openMenu">
                <ul class="sub-menu">
                    <li class="box-menu active">
                        <a href="/users/user">
                            <i class='bx bx-user'></i>
                            <span class="link_name">個人資料</span>
                        </a>
                    </li>

                    <li class="box-menu active">
                        <a href="#">
                            <i class="fa-solid fa-bag-shopping"></i>
                            <span class="link_name">背包</span>
                        </a>
                    </li>

                    <li class="box-menu">
                        <a href="#">
                            <i class="fa-solid fa-box-archive"></i>
                            <span class="link_name">盒子</span>
                        </a>
                    </li>

                    <li class="box-menu">
                        <a href="#">
                            <i class="fa-solid fa-book"></i>
                            <span class="link_name">技能</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <!-- 商城 -->
        <li>
            <div class="icon-link">
                <a href="/users/shop"> <i class="fa-solid fa-shop"></i> <span class="link_name">商城</span>
                    <i class="fa-solid fa-caret-down"></i>
                </a>
            </div>
        </li>

        <!-- 使用者清單 -->
        <li>
            <div class="icon-link">
                <a href="/users/userList"> <i class="fa-solid fa-user-pen"></i> <span class="link_name">修改測試</span>
                </a>
            </div>
        </li>

        <!-- 頁尾 ( 登出 ) -->
        <div class="footer">
            <div class="footer-content" onclick="logout()">
                <span class="logout">登出</span>
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </div>
        </div>
    </ul>
</div>

<!-- 內文的標頭 -->
<div class="content">

    <div class="content-title active">
        <span class="content-text">背包</span>
    </div>

</div>

<!-- 內文 -->
<div class="right-body">

    <form class="content-body" action="/users/bag" method="get">

        <div class="content-box">

            <!--  六隻 寶可夢的選擇欄  -->
            <div class="pokemon-box" th:each="bag : ${bagList}">

                <div class="pokemon-text-box">

                    <!--  名字  -->
                    <div class="pokemon-name">
                        <a th:text="*{bag.pokemonName}"></a>
                    </div>

                    <!--  生命  -->
                    <div class="pokemon-hp">
                        <a th:text="*{bag.hp}"></a><span> / </span><a th:text="*{bag.hp}"></a>
                    </div>
                </div>

                <!--  圖片  -->
                <div class="pokemon-img">
                    <img th:src="@{*{bag.pokemonImageUrl}}">
                </div>

                <div class="pokemon-lv-box">

                    <!--  等級  -->
                    <div class="pokemon-lv">
                        <p>等級 :</p><span th:text="*{bag.lv}"></span>
                    </div>

                </div>

                <div class="skill-content">
                    <div class="skill-content-text">
                        <p>攻擊力 :</p><span th:text="*{bag.attack}"></span>
                    </div>
                    <div class="skill-content-text">
                        <p>防禦力 :</p><span th:text="*{bag.defense}"></span>
                    </div>
                    <div class="skill-content-text">
                        <p>速度 :</p><span th:text="*{bag.speed}"></span>
                    </div>
                </div>

                <div class="skill-description">
                    <p  th:text="*{bag.description}"></p>
                </div>

                <div class="pokemon-btn-box">
                    <div class="pokemon-btn">
                        <a th:href="@{'/users/skill/' + *{bag.getBagId()}}">技能</a>
                    </div>
                    <div class="pokemon-btn">
                        <a>道具</a>
                    </div>
                    <div class="pokemon-btn">
                        <a th:href="@{'/users/bag/goToBox/' + *{bag.getBagId()}}">盒子</a>
                    </div>
                    <div class="pokemon-btn">
                        <a th:href="@{'/users/bag/delete/' + *{bag.getBagId()}}">放生</a>
                    </div>
                </div>
            </div>

        </div>

    </form>

</div>

<script>

    function clickPage() {
        document.getElementById("btn-right-box").submit();
    }

    function logout() {
        window.location.href = "/users/login";
    }

    // 開啟、關閉 子欄位
    const opens = document.querySelectorAll(".open");
    const menus = document.querySelectorAll(".openMenu");

    opens.forEach((open, index) => {

        open.addEventListener("click", () => {

            menus[index].classList.toggle("ok");

        });

    });

    // 選擇子欄位，並切換為正確的內文
    // const menuOk = document.querySelectorAll(".box-menu");
    // const menuOp = document.querySelectorAll(".content-title1");
    //
    // menuOk.forEach((menu1, index1) => {
    //
    //     menu1.addEventListener("click", (e) => {
    //
    //         menuOk.forEach(menu1 => {
    //
    //             menu1.classList.remove("active");
    //         });
    //         menu1.classList.add("active");
    //
    //         menuOp.forEach(mp => {
    //
    //             mp.classList.remove("active");
    //         })
    //
    //         menuOp[index1].classList.add("active");
    //
    //     })
    //
    // })


    // 選擇主欄位，並切換為正確的內文
    // const btns = document.querySelectorAll(".pokemon-box");
    // const all_content = document.querySelectorAll(".pokemon-skill-box");
    //
    // btns.forEach((btn, index) => {
    //
    //     btn.addEventListener("click", (e) => {
    //
    //         btns.forEach(btn => {
    //
    //             btn.classList.remove("active");
    //         });
    //
    //         btn.classList.add("active");
    //
    //         all_content.forEach(content => {
    //
    //             content.classList.remove("active");
    //         });
    //
    //         all_content[index].classList.add("active");
    //
    //         menuOp.forEach(mp => {
    //
    //             mp.classList.remove("active");
    //         })
    //
    //         menuOp[index].classList.remove("active");
    //
    //     });
    //
    // });

</script>
</body>
</html>