<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS 連結 -->
    <link rel="stylesheet" href="/css/shop.css">

    <!-- JQuery 連結 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Boxicon CDN link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- FontAwesome 連結 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <!-- DataTable 連結 -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css"/>

    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

    <title>商城</title>
</head>

<body onload="doOnload()">

<header>
    <span>夏天的風</span>
</header>

<!-- 左側欄 -->
<div class="sidebar">

    <!-- 左側欄 標頭 -->
    <div class="logo-details">
        <div class="logo-img">
            <img src="/images/0025-皮卡丘.png" alt="logo">
        </div>
        <span class="logo_name" th:text="${session.showUserName.userName}" th:value="${session.showUserName.userId}"></span> <i class="fa-solid fa-bars"></i>
    </div>

    <!-- 主選單 -->
    <ul class="nav-links">

        <!-- 首頁 -->
        <li>
            <div class="icon-link">
                <a href="/users/home"> <i class='bx bx-home'></i> <span class="link_name">首頁</span>
                </a>
            </div>
        </li>

        <!-- 個人資料 -->
        <li>
            <div class="icon-link">
                <a href="/users/user"> <i class='bx bx-user'></i> <span class="link_name">個人資料</span>
                    <i class="fa-solid fa-caret-down"></i>
                </a>
            </div>
        </li>

        <!-- 商城 -->
        <li>
            <div class="icon-link active open">
                <a>
                    <i class="fa-solid fa-shop"></i>
                    <span class="link_name">商城</span>
                    <i class="fa-solid fa-caret-down"></i>
                </a>
            </div>

            <!-- 子選單 -->
            <div class="openMenu">
                <ul class="sub-menu active">
                    <li class="box-menu active">
                        <a href="/users/shop">
                            <i class="fa-solid fa-shop"></i>
                            <span class="link_name">商城</span>
                        </a>
                    </li>

                    <li class="box-menu">
                        <a href="/users/shopCar">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span class="link_name">購物車</span>
                        </a>
                    </li>

                    <li class="box-menu">
                        <a href="/users/order">
                            <i class="fa-regular fa-rectangle-list"></i>
                            <span class="link_name">訂單</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <!-- 使用者清單 -->
        <li>
            <div class="icon-link">
                <a href="/users/userList"> <i class="fa-solid fa-user-pen"></i> <span class="link_name">修改測試</span>
                </a>
            </div>
        </li>

        <!-- 頁尾 ( 登出 ) -->
        <div class="footer">
            <div class="footer-content" onclick="logout()">
                <span class="logout">登出</span>
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </div>
        </div>
    </ul>
</div>

<!-- 內文 -->
<div class="content">

    <div class="content-title active">
        <span class="content-text">商品列表</span>

        <div class="content-category">

            <form id="search-reflash" class="category-box" action="/users/shop" method="get">

                <!--  依屬性 查詢  -->
                <span>屬性 :</span>
                <select name="category" id="category" onchange="reflashPage()">
                    <optgroup label="請選擇屬性">
                        <option value=""></option>
                        <option th:each="category : ${categorys}" th:text="*{category.category}"></option>
                    </optgroup>
                </select>

                <!--  屬性選擇後不被重置的默認值  -->
                <span id="hidCategory" th:text="${session.nowCategory}" hidden="hidden"></span>

                <!--  依頁數 查詢  -->
                <span>頁數 :</span>
                <select name="page" id="page" onchange="reflashPage()">
                    <optgroup label="請選擇頁數">
                        <option th:each="page :${pages}" th:text="${page}"></option>
                    </optgroup>
                </select>

                <!--  頁數選擇後不被重置的默認值  -->
                <span id="hidPage" th:text="${session.nowPage}" hidden="hidden"></span>

                <!--  排序  -->
                <span>編號排序 :</span>
                <select name="sort" id="sort" onchange="reflashPage()">
                    <optgroup label="請選擇排列順序">
                        <option value="asc">由小到大</option>
                        <option value="desc">由大到小</option>
                    </optgroup>
                </select>

                <!--  價格  -->
                <span>價格 :</span>
                <input type="text" name="priceMin" placeholder="最小值" autocomplete="off">
                <input type="text" name="priceMax" placeholder="最大值" autocomplete="off">
                <input type="submit" value="查詢">

            </form>

            <!--  依關鍵字  查詢  -->
            <form class="category-box" action="/users/shop" method="get">

                <span>關鍵字 :</span>
                <input type="text" name="search" placeholder="關鍵字" autocomplete="off">
                <input type="submit" value="查詢">
            </form>

        </div>
    </div>

</div>

<div class="right-body">

    <!--  訊息顯示  -->
    <div class="msg-box" id="errorMsg" hidden="hidden">
        <p>
            <span class="msg-text" id="msg-text" th:text="${session.msg.text}"></span>
            <span id="hidErrorMsg" th:text="${session.errorFlag}" hidden="hidden"></span>
        </p>
    </div>

    <div class="right">
        <form class="poke-box" th:each="pokemon : ${pokemons}">
            <div class="poke-image-box">
                <a><img th:src="@{*{pokemon.imageUrl}}"></a>
            </div>
            <div class="poke-text-box">
                <div class="text-box"><span>編號 : <a th:text="*{pokemon.pokemonId}"></a></span></div>
                <div class="text-box"><span>名稱 : <a th:text="*{pokemon.pokemonName}"></a></span></div>
            </div>
            <div class="poke-skill-box">
                <div class="skill-box"><span>屬性 : <a th:text="*{pokemon.category}"></a></span></div>
                <div class="skill-box"><span>等級 : <a th:text="*{pokemon.lv}"></a></span></div>
            </div>
            <div class="poke-text-box">
                <div class="text-box"><span>技能一 : <a th:text="*{pokemon.skill1}"></a></span></div>
                <div class="text-box"><span>技能二 : <a th:text="*{pokemon.skill2}"></a></span></div>
            </div>
            <div class="poke-skill-box">
                <div class="skill-box"><span>技能三 : <a th:text="*{pokemon.skill3}"></a></span></div>
                <div class="skill-box"><span>技能四 : <a th:text="*{pokemon.skill4}"></a></span></div>
            </div>
            <div class="poke-price-stock-box">
                <div class="price-stock-box"><span>商品價格 : <a th:text="*{pokemon.price}"></a></span></div>
                <div class="price-stock-box"><span>庫存數量 : <a th:text="*{pokemon.stock}"></a></span></div>
            </div>
            <div class="poke-add-box">
                <a class="btn-add" th:href="@{'/pokemons/addShopCar/' + ${pokemon.pokemonId}}">加入購物車</a>
            </div>
        </form>
    </div>

    <div class="content-table-footer">
        <i class="fa-solid fa-caret-left"></i>
        <input type="submit" value="頁數">
        <i class="fa-solid fa-caret-right"></i>
    </div>
</div>

<script>

    function logout() {
        window.location.href = "/users/login";
    }

    // 開啟、關閉 子欄位
    const opens = document.querySelectorAll(".open");
    const menus = document.querySelectorAll(".openMenu");

    opens.forEach((open, index) => {

        open.addEventListener("click", () => {

            menus[index].classList.toggle("ok");

        });

    });

    // 下拉式選單 頁數、屬性 選擇後，不要重置為 null 欄位
    function doOnload() {

        var tempHidPage = document.getElementById("hidPage").textContent;
        document.getElementById("page").value = tempHidPage;

        var tempHidCategory = document.getElementById("hidCategory").textContent;
        document.getElementById("category").value = tempHidCategory;

        var tempHidErrorMsg = document.getElementById("hidErrorMsg").textContent;
        if(tempHidErrorMsg == "Y"){

            document.getElementById("errorMsg").hidden = false;
            document.getElementById("msg-text").classList.add("show-text");

            // 控制訊息顯示時間，預設5秒後消失
            timeUp();
        }else{
            document.getElementById("errorMsg").hidden = true;
        }
    }

    // 下拉選單 選擇後 自動 submit 向後台傳遞參數
    function reflashPage() {
        document.getElementById("search-reflash").submit();
    }

    // 倒計時器
    var count = 5;
    function timeUp() {

        count -= 1;

        if (count == 0) {
            document.getElementById("msg-text").classList.remove("show-text");
        }

        setTimeout("timeUp()", 1000);

        if (count < 0) {
            count = 0;
        }
    }

</script>

</body>

